@import "./mixins.scss";

.question-tree-container{
	display: block;
	position: relative;
}

.hero-img{
	z-index: -1;
	min-height: 110%;
	min-width: 1024px;
	width: 105%;
	height: auto;
	position: fixed;
	left: -1px;
	top: 30%;
}

.home-head{
	color: #ECF0F1;
	font-size: 72px;
	font-weight: 800;
	text-align: center;
	padding-top: 20%;
	text-shadow: 0px 3px 5px #E8DCDC;
	color: #2A2B2A;
}

.landing-container{
	@include playfairDisplay;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-weight: 700;
}
.resource-container{
	@include playfairDisplay;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-weight: 700;
}
.landing-line {
	width: 325px;
	border-bottom: 1px solid black;
	margin: -10px 10px 10px 10px;
}
.resource-line{
	width: 325px;
	border-bottom: 1px solid black;
	margin: -10px 10px 10px 10px;
}
.landing-subtitle {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: .8em;
}

.resource-subtitle{
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: .8em;
}

.landing-pill {
	@include pillBox;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		margin-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.resource-pill{
	@include pillBox;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		margin-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.landing-or-action {
	margin: 15px;
}
.resource-and{
	margin: 15px;
}
.landing-identify-action {
	margin-top: 15px;
}
.resource-action{
	margin-top: 15px;
}

.landing-browse-action {
	margin-top: 15px;
}



.landing-call-to-action {
	margin-top: 10px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: .6em;
	width: 300px;
	text-align: center;
}
.resource-call-to-action{
	margin-top: 10px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: .6em;
	width: 90%;
	text-align: center;
}
.button-nav{
	margin: 0 20px 10px 20px;
	font-size: 20px;
	width: 200px;
}

.button-login{
	display: block;
	margin: 10px auto;
	width: 200px;
	font-size: 18px;
}

.home-tree {
	padding-top: 80px;
	p, h4 {
		text-align: center;
	}
}

.fade {
  opacity: 1;
  transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
}
