
@import './mixins.scss';
.question-container{
	margin-top: 80px;
}
.question-box{
	font-size: 16px;
	width: 100%;
	margin-top: 60px;

	display: inline-block;
	h1{
		text-align: center;
	}
}
.question-top{
	position: relative;
}

.question-card{
	display: inline-block;
	padding: 5px;
	margin: 2%;
	border: 1px solid gray;
	cursor: pointer}
	.question-top{
		position: relative;
		display: block;
	}

	.question-tree-container, .question-tree-container>*{
		display: inline-block;
	}
.tree-one{
	display: inline-block;
	width: 20%;
}
