@import './helpers.scss';
@import './login-styles.scss';
@import './profile-styles.scss';
@import './register-styles.scss';
@import './nav-styles.scss';
@import './mixins.scss';
@import './identify-styles.scss';

* {
  box-sizing: border-box;
}

body {
	@include raleway;
	@include mainBackgroundColor;
}

.container-tree {
	@include mainTextColor;
	@include playfairDisplay;
	letter-spacing: 1px;
	font-size: 1.2em;
	font-weight: 700;
	min-width: 200px;
	@include pillBox;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.container-tree:hover {
	filter: drop-shadow(0px 0px 2px #e07171);
}

.filtered-trees-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.checkbox {
	font-size:medium;
}

.grid-item {
	 width: 25%;
}

.leafType .lower {
	font-size: 0;
}

.active {
	@include hoverTextColor;
}

.filter {
  text-align: center;
  flex-wrap:wrap;
	@include mainTextColor;
	@include pillBox;
}

.filter:hover {
	filter: drop-shadow(0px 0px 2px #e07171);
}

.filter-selected {
	font-weight: 700;
}

.filter-resulting {
	@include giveSomeSpace;
	font-size: .9em;
}

.breadcrumb-item {
	@include hoverTextColor;
	margin-left: 3px;
	margin-right: 3px;
	border: 1px solid #706c61;
	padding: 3px 10px;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	max-height: 28px;
}

.breadcrumb-heading {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.breadcrumb-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: auto;
	height: 40px;
	margin-bottom: 5px;
	padding-left: 3px;
	background-color: white;
	border: 1px solid rgba(211, 128, 126, 0.8);
	border-radius: 2px;
	box-shadow: inset 0px 0px 10px -5px black;
}

.breadcrumb-container {
	overflow: hidden;
}

.reset {
	@include playfairDisplay;
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	width:100%;
}

.makeHand {
	cursor: pointer;
	cursor: hand;
}

.item {
	@include hoverTextColor;
	display: inline-block;
	margin: 7px;
	text-decoration: none;
}

.noTrees{
	font-size:20px;
	@include playfairDisplay;
	@include mainTextColor;
	text-align: center;
}

// .hvr-grow {
// 	animation-name: fnt-shrink;
// 	animation-duration: .2s;
// 	animation-fill-mode: both;
// 	animation-timing-function: ease-in-out;
// }

// .hvr-grow:hover,
// .hvr-grow:focus,
// .hvr-grow:active {
//     animation-name: fnt-grow;
// 	animation-duration: .2s;
// 	animation-fill-mode: both;
// 	animation-timing-function: ease-in-out;
// }

@keyframes fnt-grow {
	from {font-size: 1em; transform: translateX(0) translateY(0);}
	to {font-size: 1.2em; transform: translateX(0px) translateY(0px);}
}

@keyframes fnt-shrink {
	from {font-size: 1.2em;}
	to {font-size: 1em;}
}

.browseCompContainer{
	@include mainTextColor;
	@include mainBackgroundColor;
	min-height: 100vh;
}

.browseHeader h1{
	@include playfairDisplay;
	@include navBarTextColor;
}

.auth-form{
	margin-top:50px;
}

.hidden-div{
	display: none;
}

.reset-individual {
	@include giveSomeSpace;
	@include greenAccent;
}


.preloader-img {
	width: 400px;
	height: 400px;
}

.preloader-container {
	@include mainBackgroundColor;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	@include playfairDisplay;
	font-weight: 700;
}

.smallcaps {
	font-size: .8em;
}

.no-filter-msg{
  margin-left:auto;
  margin-right:auto;
  font-size: 14px;
  color:gray;
  @include raleway;
}

.latin-name{
  font-size:12px;
}
