@import './helpers.scss';
@import './login-styles.scss';
@import './profile-styles.scss';
@import './register-styles.scss';
@import './nav-styles.scss';
@import './mixins.scss';

* {
	box-sizing: border-box;
}
body{
		font-family: 'Quattrocento Sans', sans-serif;
}

img {
	width: 100%;
	display: block;
}
p {
	text-align: center;
	color: #aaa;
}


.container-browse{
	background-color: cornflowerblue;
	border: black thick solid;
	font-size:0;


}
.container-tree{
	font-size:medium;
	display:inline-block;
	width:25%;

}

.checkbox{
	font-size:medium;
}
.grid-item {
	 width: 25%;
  }
.leafType .lower {
font-size: 0;
}

 .active {
	background-color: lightgreen;

}

 .filter a{
	color: black;
}


.futurefiltresults{
	color: gray;
	font-size: 10px;
}

.breadCrumbs{
	font-size: 10px;
}


.breadCrumbHeader{
	display: inline-block;
	width: 50%;
	text-align: center;
}

.reset {
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
	color: gray;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 20px;
}

.makeHand{
	cursor: pointer;
	cursor: hand;
}

.item{
	color: gray;
	display: inline-block;
	margin: 7px;
	text-decoration: none;
}
