* {
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

h1 {
<<<<<<< HEAD
	color: magenta;
=======
	color: limegreen;
>>>>>>> c263208e904d9209718444cb3f5e7f1c13a7925c
	font-size: 13vw;
	text-align: center;
	font-family: 'Helvetica';
}

p {
	text-align: center;
	color: #aaa;
}
