@mixin playfairDisplay(){
  font-family: 'Playfair Display', serif;
}

@mixin raleway(){
  font-family: 'Raleway', sans-serif;
}

@mixin absolute-center(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin xcenter(){
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin ycenter(){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//snow//
@mixin mainBackgroundColor(){
  background-color: #FFF9F9;
}

@mixin navBarTextColor(){
  color: #FFF9F9;
}

//charlestongreen//
@mixin navBarBackground(){
  background-color: #2A2B2A;
}

//charlestongreen #2A2B2A//
@mixin mainTextColor(){
  color: #2A2B2A;
}

//russiangreen//
@mixin greenAccent(){
  color: #668259;
}

//dimgray//
@mixin hoverTextColor(){
  color: #706C61;
}

//ruddypink//
@mixin pinkBackground(){
  background-color: #EF918F;
}

@mixin pinkColor(){
  color: #EF918F;
}

@mixin navBarHoverInfo(){
  border-color: rgba(42,43,42,0);
	border-bottom-color: #EF918F;
}

//newyorkpink//
@mixin newYorkPink(){
  color: #D3807E;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.fade-in{
		animation: fadeIn 2.0s ease forwards;
}

@mixin pillBox {
  flex-grow: 1;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	margin: 5px 5px 5px 5px;
	border: 1px rgba(211, 128, 126, 0.8) solid;
	box-shadow: inset 0px 0px 0px 1px white;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0px 0px 1px #ffb8b8);
}

@mixin pillBoxHover {
  filter: drop-shadow(0px 0px 2px #e07171);
}

@mixin giveSomeSpace {
  margin-left: 3px;
}
